@model CajeroChristian.Models.CajeroAutomatico
@{
    ViewBag.Title = "Correctohtml";
}

<h2>Correctohtml</h2>

<div class="alert alert-success"role="alert">
    <h4 Class="alert-heading">Correcto</h4>
    <p>Cantidad Valida,Puede retirar su dinero</p>
    <hr>
</div>
