@model CajeroChristian.Models.CajeroAutomatico
@{
    ViewBag.Title = "Errorhtml";
}

<h2>Errorhtml</h2>
<div class="alert alert-success" role="Alert">
    <h4 class="alert-heading">Errorhtml</h4>
    <p>Cantidad Erronea,Ingrese Valor Correcto</p>
    <hr>
</div>
